back-button

h1 Sprints

button.btn--default((click)='getSprints()') Refresh

ul
  li.card.clickable('*ngFor'='#sprint of sprints' '(click)'='router.navigate(["Sprint", {id: sprint.id}])')
    h5 {{ sprint.sprintName }}

    span('*ngIf'='sprint.team') Team: {{ sprint.team.name }}
    span('*ngIf'='sprint.pointTotal') Points in sprint: {{ sprint.pointTotal }}

div
  h5 Stats
