back-button.sprints_back

section.sprints
  .sprints_header
    h1 {{ sprint.sprintName }}
    h5 Team: {{ sprint.teamName }}
    h5 Total Points: {{ sprint.points }}
    a(href='http://trello.com/b/{{sprint.boardId}}' target='_blank') Trello Board

    a.btn--default(
      download='{{sprint.sprintName}}.csv'
      '[href]'='sprintEstimates | async'
      '*ngIf'='shouldShowEstimates | async'
    )
      | Download Estimates


  .trello-cards
    .trello-cards_column
      p Unstarted ({{ unstartedCards.length }})
      span Points: {{ unstartedPoints }}
      sprint-card-list('[cards]'='unstartedCards')

    .trello-cards_column
      p In Progress ({{ inProgressCards.length }})
      span Points: {{ inProgressPoints }}
      sprint-card-list('[cards]'='inProgressCards')

    .trello-cards_column
      p Dev Complete ({{ devCompleteCards.length }})
      span Points: {{ devCompletePoints }}
      sprint-card-list('[cards]'='devCompleteCards')

    .trello-cards_column
      p Complete ({{ completeCards.length }})
      span Points: {{ completePoints }}
      sprint-card-list('[cards]'='completeCards')
