.btn--cancel:hover {
  color: $red;
}

.btn--delete {
  color: $lightest-grey;
  background: $red;

  &:hover {
    background: darken($red, 10);
  }
}

.btn--delete-icon {
  svg {
    fill: $red;
  }
}

.btn--default {
  border: 1px solid $orange;
  background: $orange;
  color: #fff;

  &:hover {
    background: $light-orange;
    border-color: $light-orange;
    color: $lightest-grey;
  }
}
