body {
  font-family: 'Lato';
  text-rendering: geometricPrecision;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  letter-spacing: 1px;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Montserrat';
  color: $off-grey;
}

a {
  cursor: pointer;
}
