input,
select {
  transition: border map-get($animation-duration, 'medium') map-get($animation-easing, 'elastic');
  height: 40px;
  background: #fff;
  border-radius: 3px;
  box-shadow: none;
  padding: 0px 10px;
  width: 100%;
  font-size: $font-size-base;
  font-weight: 100;
  letter-spacing: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid $light-grey;

  &.ng-invalid {
    border-color: $red;
  }

  &:active, &:focus {
    outline: 0;
    border-bottom: 2px solid $mint;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}

input[type=text] {

}
