@import '~style/utility';

.teams_back {
  position: absolute;
  width: 30px;
  top: 0;
  margin: 15px;
}

new-team {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.teams h1 {
  text-align: center;
  margin-top: 20px;
}

.teams_list {
  padding: 20px;
  width: 80%;
  margin: 0 auto 40px;
  text-align: center;
}

.teams_list li {
  background: $off-green;
  width: 150px;
  text-align: center;
  height: 100px;
  border-radius: 4px;
  line-height: 100px;
  display: inline-block;
  margin: 10px;
  color: $light-grey;
}