back-button.teams_back

section.teams
  h1 Teams

  ul.teams_list
    li('*ngFor'='#team of teams')
      span {{ team.name }}
      ul('*ngFor'='#member of team.members')
        li {{ member }}

  new-team('(onClose)'='fetchTeams()')
