html
  head
    title Webpack NG2 Seed
    base(href='/')
    link(rel='icon' type='image/png' href='favicon.ico')
    - for (var i = 0, k = scripts.head.length; i < k; i++)
     != scripts.head[i]

  body
    app
     h1 Loading Application

    script(src='https://trello.com/1/client.js?key=#{TRELLO_KEY}')
    - for (var i = 0, k = scripts.body.length; i < k; i++)
     != scripts.body[i]
