nav
  ul.nav
    li
      a('[routerLink]'='["Sprints"]') Sprints
    li.cool
    li
      a.triangle('[routerLink]'='["Home"]')
        div Home
      
    li.cool
    li
      a('[routerLink]'='["Teams"]') Teams
