%flex-form-shared {
  $form-spacing: 15px;
  display: flex;
  flex-wrap: wrap;

  label {
    margin-top: $form-spacing;
    margin-bottom: 5px;
    display: block;
  }

  form-save {
    margin-top: $form-spacing;
  }

  .pull-right {
    margin-left: auto;
  }

  .input-group--full-width {
    flex: 1 1 100%;
  }
}

.flex-form {
  @extend %flex-form-shared;

  .input-group {
    flex: 1 1 100%;
  }
}

.flex-form-2 {
  @extend %flex-form-shared;
  
  .input-group {
    flex: 1 1 50%;
  }
}

.flex-form-3 {
  @extend %flex-form-shared;

  .input-group {
    flex: 1 1 33.33%;
  }
}
