back-button.teams_back

section.teams
  h1 Teams

  ul.teams_list
    li('*ngFor'='#team of teams.items | async')
      span {{ team.name }}

      .teams_list_members('*ngIf'='team.teamMembers.length')
        span Members:
        div('*ngFor'='#member of team.teamMembers')
          ul
            li Trello ID: {{ member.trelloId }}
            li Velocity: {{ member.velocity }}

  new-team('(onClose)'='fetchTeams()')
