back-button.teams_back

section.teams
  h1 Teams

  ul.teams_list
    li('*ngFor'='#team of teams.items | async')
      .teams_header {{ team.name }}

      .teams_members('*ngIf'='team.teamMembers.length')
        ul('*ngFor'='#member of team.teamMembers')
          li
            .teams_label Trello ID:
            .teams_content {{ member.trelloId }}
          li
            .teams_label Velocity:
            .teams_content {{ member.velocity }}

  new-team('(onClose)'='fetchTeams()')
