<!DOCTYPE html>
<html>
  <head>
    <title>Webpack NG2 Seed</title>
    <base href="/">
    <link rel="icon" type="image/png" href="favicon.ico">
<link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/trello-burndown/app-7d2659613cac415c4267.css'>
  </head>
  <body>
    <app>
      <h1>Loading Application</h1>
    </app>
<script src='https://s3-us-west-2.amazonaws.com/trello-burndown/common-b4911365429727a56073.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/trello-burndown/vendor-fcb518aaaea953196f1e.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/trello-burndown/app-b4911365429727a56073.js'></script>
  </body>
</html>