<!DOCTYPE html>
<html>
  <head>
    <title>Webpack NG2 Seed</title>
    <base href="/">
    <link rel="icon" type="image/png" href="favicon.ico">
<link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/trello-burndown/app-f94bbf3c6b4f61053a9f.css'>
  </head>
  <body>
    <app>
      <h1>Loading Application</h1>
    </app>
<script src='https://s3-us-west-2.amazonaws.com/trello-burndown/common-3156c5ea2b55140340a2.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/trello-burndown/vendor-88a936a16d1fb310cb3b.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/trello-burndown/app-3156c5ea2b55140340a2.js'></script>
  </body>
</html>