@import '~style/utility';

:host,
nav,
h1 {
  width: 100%;
}

:host {
  height: 100vh;
}

h1,
nav {
  margin-top: 20px
}

h1 {
  text-align: center;
}

.home_nav {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  background: $lightest-grey;

  li {
    flex: 1 1 auto;
    text-align: center;
  }

  li:hover {
    background: $light-grey;
  }
}

new-sprint {
  display: block;
  text-align: center;
  margin-top: 30px;
}
