back-button.sprints_back

section.sprints
  h1 Sprints

  button.btn--default('(click)'='sprints.findAll()') Refresh

  ul.sprints_list('*ngIf'='!(sprints.isFetching | async)')
    li.clickable('*ngFor'='#sprint of sprints.items | async' '(click)'='router.navigate(["Sprint", {id: sprint.id}])')
      h5 {{ sprint.sprintName }}

      span('*ngIf'='sprint.team') Team: {{ sprint.team.name }}
      span('*ngIf'='sprint.pointTotal') Points in sprint: {{ sprint.pointTotal }}

  div.sprints_loader('*ngIf'='sprints.isFetching | async')
    h1 Loading Sprints

  div
    h5 Stats
