back-button.sprints_back

section.sprints
  h1 Sprints

  ul.sprints_list('*ngIf'='!(sprints.isFetching | async)')
    li.clickable.sprint_list-item('*ngFor'='#item of sprints.items | async')
      a('(click)'='router.navigate(["Sprint", {id: item.sprint.id}])')
      h5 {{ item.sprint.sprintName }}

      button(
        '[ngClass]'='{"animations_spin": item.isCalculating}'
        '(click)'='sprints.calculatePoints(item.sprint)'
      )
        != require('svg/loop.svg')     

      .sprint_list-stats
        span('*ngIf'='item.sprint.team') Team: {{ item.sprint.team.name }}
        span Points in sprint: {{ item.sprint.points || 'None' }}

  div.sprints_loader('*ngIf'='sprints.isFetching | async')
    h1 Loading Sprints

  div
    h5 Stats
